.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #FFBB00;
  font-family: 'Product Sans',Arial,sans-serif;
  .app-name {
    font-size: 22px;
    margin-left: 24px;
  }
  .mobile-menu {
    width: 30px;
    height: 24px;
    margin-left: 24px;
  }
}