.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 24px;
  background-color: #FFBB00;
  font-family: 'Product Sans',Arial,sans-serif;
  .app-name-wrapper {
    display: flex;
    .app-name {
      font-size: 22px;
      margin-left: 24px;
    }
    .mobile-menu {
      width: 30px;
      height: 24px;
    }
  }
}