@import '_header';
@import '_createList';
@import '_listCard';

$icon-color: #765609;

body {
  margin: 0;
  background-color: #e8e8e8;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input {
  border: none;
  outline: none;
}